html {
  scroll-behavior: smooth;
}

#coupon-1 {
  background-image: url("../images/yellow_coupon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#coupon-2 {
  background-image: url("../images/pink_coupon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#ticket-bg {
  background-image: url("../images/ticket_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}

#ticket-gray,
#ticket-final-bg {
  background-image: url("../images/ticket_gray.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}

#seat-bg {
  background-image: url("../images/ticket_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
